html {
    height: 100%;
}

body {
    background-color: #eceff1;
    height: 100%;
}

nav {
    position: absolute;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

/* ID */

#container {
    padding: 104px 40px 40px;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

#display-container {
    height:100%;
    text-align: center;
}

#videos {
    background-color:transparent;
}

#videos-inner {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#localVideo {
    width:15%;
    border-top-right-radius:10px;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#loader {
    position: absolute;
    left: 32%;
    top: 50%;
    color: white;
    text-align: center;
}

#remoteVideo {
    border-radius:10px;
    height:100%;
    max-width: 100%;
    background-color: #01579b;
}

#subtitleContent {
    position: absolute;
    color: white;
    font-size: xx-large;
    bottom:10%;
    text-shadow: 3px 0 0 #000000, -3px 0 0 #000000, 0 3px 0 #000000, 0 -3px 0 #000000, 2px 2px #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
    display: inline-block;
}

#chat-container {
    height:100%;
    padding: 0.75rem;
}

#text {
    text-align: justify;
}

#text-container {
    overflow: auto;
    height: 90%;
    padding: 5px;
    margin-bottom: 2%;
    background-color: #fbfbfc;
    border-radius: 5px;
}

#form-container {
    height: 7%;
}

#input-container {
    height: 100%;
    margin-top: 0px;
    background-color: #fbfbfc;
    border-radius: 5px;
}

#input-content {
    height: 100%;
    border: 0px;
    box-shadow: none;
}

#submit {
    border-radius: 5px;
    padding: 0 1rem;
}

/* Classes */
.brand-logo {
    padding-left: 20px;
}

.content {
    height: 100%;
    background-color: #e4e7e9;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}


