html {
    height: 100%;
}

body {
    background-color: #b0bec5;
    height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

.brand-logo {
    padding-left: 20px;
}

.center-form {
    margin: 200px auto;
    width: 320px;
    height: 275px;
    background-color: #eceff1;
    border-radius: 10px;
}

.labels {
    padding-top: 20px;
    margin: 0 auto;
    width: 250px;
}

.submit-button {
    margin-top: 20px;
    margin-left: 40px;
}


