#localVideo
{
    width:20%;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#remoteVideo
{
    width:60%;
}

#subtitleContent
{
    position: absolute;
    top: 700px;
    color: white;
    font-size: 70px;
    left: 400px;
}