html
{
    height: 100%;
}

body
{
    background-color: #b0bec5;
    height: 100%;
}


.brand-logo
{
    padding-left: 20px;
}

.center_form
{
    margin: 200px auto;
    width: 300px;
    height: 180px;
    background-color: #eceff1;
    border-radius: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 

.labels
{
    padding-top: 20px;
    margin: 0 auto;
    width: 250px;
}

.submit_button
{
    margin-top: 20px;
    margin-left: 40px;
}

.vid
{
    padding-top: 7px;
    margin: 10px auto;
    width: 65%;
    height: 610px;
    background-color: #eceff1;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.locRemVids
{
    display: block;
    margin: 0 auto;
    width: 95%;
}

#localVideo
{
    width:25%;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#remoteVideo
{
    width:100%;
}

#subtitleContent
{
    position: absolute;
    color: white;
    font-size: xx-large;
    text-shadow: 3px 0 0 #000000, -3px 0 0 #000000, 0 3px 0 #000000, 0 -3px 0 #000000, 2px 2px #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
    display: inline-block;
    bottom: 45px;
}


