html
{
    height: 100%;
}

body
{
    background-color: #b0bec5;
    height: 100%;
}


.brand-logo
{
    padding-left: 20px;
}

.center_form
{
    margin: 150px auto;
    width: 300px;
    height: 280px;
    background-color: #eceff1;
    border-radius: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 

.labels
{
    padding-top: 20px;
    margin: 0 auto;
    width: 250px;
}

.submit_button
{
    margin-top: 20px;
    margin-left: 40px;
}

.vid
{
    margin: 0 auto;
    width: 98%;
    height: 100%;
    background-color: #eceff1;
    border-radius: 10px;
}

#localVideo
{
    width:20%;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#remoteVideo
{
    width:60%;
}

#subtitleContent
{
    position: absolute;
    top: 700px;
    color: white;
    font-size: 70px;
    left: 400px;
}


